language: java
install: true
jdk:
  - oraclejdk8
script: 
  - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
addons:
  sonarcloud:
    organization: "welle-github" # the key of the org you chose at step #3
cache:
  directories:
    - '$HOME/.m2/repository'
    - '$HOME/.sonar/cache'
deploy:
  provider: releases
  api_key:
  	secure: $GITHUB_TOKEN
  file: /home/travis/build/welle/JWoWJPA/target/JWoWJPA-0.0.1.jar
  skip_cleanup: true
  on:
    tags: true
